<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>글 수정</title>
</head>
<body>
<div th:if="${message}" th:text="${message}"></div>
<h1>글 수정</h1>

<form th:action="@{/update}" method="post" th:object="${board}" >
    <input type="hidden" id="id" th:field="*{id}">
    <input type="hidden" id="createdAt" th:field="*{createdAt}">

    <label for="name">Name: </label>
    <input type="text" id="name" th:field="*{name}" readonly>

    <label for="title">Title: </label>
    <input type="text" id="title" th:field="*{title}" required>
    <div th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></div>

    <label for="content">Content: </label>
    <input type="text" id="content" th:field="*{content}" required>
    <div th:if="${#fields.hasErrors('content')}" th:errors="*{content}"></div>

    <label for="password">Password (for verification): </label>
    <input type="password" id="password" th:field="*{password}" required>
    <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>

    <input type="submit" value="글 수정">
</form>

</body>
</html>